body{
    background-image: url(../Media/2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.box{
    
    text-align: center;
    margin-top: 17%;
}
.form-control{
    width: 400px !important;
    margin:0 auto;
}
.h1{
    color: white;
    font-size: 55px !important;
    font-weight: 800 !important;
    text-shadow: 2px 2px black;

}
.container{
    display: grid;
    grid-gap: 5px;  
    grid-template-columns: auto auto;
}
.box1{
    display: none;
    background-color: rgba(255, 255, 255, 0.603);
    width: 450px;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
    
}
.tipbox{
    display: none;
    background-color:  rgba(255, 255, 255, 0.603);
    width: 450px;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
}
.tips p{
    font-size: 1.75rem;
}
footer{
    text-align: center !important;
    bottom: 0;
    width: 100%;
    margin-bottom: 10px;
    position: absolute;
    color: white;
    font-weight: 400;
    font-size: 35px;
    text-shadow: 2px 2px black;

}
@media only screen and (max-width: 494px){
    body{
        width: 100vw;
        height: 100%;
    }
    .box1{
        width:auto;
        padding: 0;
        margin: 0 auto;
    }
    .tipbox{
        width: auto;
        padding: 0;
        margin: 0 auto;
    }
    .h1{
        font-size: 35px !important;
        font-weight: 600 !important;
    }
    .form-control{
        width: auto !important;
        margin:0 auto;
    }
    .container {
        display: block;
        grid-gap: 5px;
    }
    footer{

        font-size: 20px;
        bottom: 0;
    }
    .results h3{
        font-size: 20px;
    }
    .tips p{
        font-size: 20px;
    }
    footer{
        position: relative;
    }
}
@media only screen and (max-width:990px){
    .container{
        display: block;
    }
    footer{
        position: relative;
    }
}
