body{
    /* background-image: linear-gradient(white,rgb(154, 209, 253)); */
    background-image: url(../Media/2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.box{
    
    text-align: center;
    margin-top: 20%;
}
.form-control{
    width: 400px !important;
    margin:0 auto;
}
.h1{
    color: white;
    font-size: 55px !important;
    font-weight: 800 !important;

}
.box1{
    display: none;
    background-color: rgba(255, 255, 255, 0.603);
    width: 600px;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
    
}
@media only screen and (max-width: 494px){
    body{
        width: 100vw;
        height: auto;
        background-image: url(../Media/m.jpeg) !important;

    }
    .box1{
        width:auto;
        padding: 0;
        margin: 0 auto;
    }
    .h1{
        color: black;
        font-size: 35px !important;
        font-weight: 600 !important;
    }
    .form-control{
        width: auto !important;
        margin:0 auto;
    }
}